{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "arrowParens": "avoid",
  "stackElements": ["destruct"]
}

